<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mgc.letobox.happy">


    <!--minSdkVersion为9时的合并-->
    <uses-sdk tools:overrideLibrary="android.support.v7.appcompat, android.support.v7.recyclerview,com.dingmouren.layoutmanagergroup,
                                        com.squareup.leakcanary, com.squareup.leakcanary.analyzer, com.squareup.leakcanary.android.noop" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />    <!-- targetSdkVersion >= 26 时需要配置此权限，否则无法进行安装app的动作 -->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- lightingbox need -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- sigmob need -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".LetoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/leto_network_security_config"
        tools:replace="android:networkSecurityConfig"
        >
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".GameCenterTabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".me.FeedBackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".me.AboutMeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>


        <activity android:name=".me.JoinWeChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".LeBoxHighCoinTaskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".LeBoxLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".LeBoxMobileLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".LeBoxProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".find.ui.SelectImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".find.ui.ArticleDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".find.ui.KOLActivitiy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".find.ui.ShowPicVPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".find.ui.GameDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".circle.ui.CircleListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".circle.ui.CircleDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".circle.ui.ArticleDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".circle.ui.CreateTieZiActivtiy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".circle.ui.CreateCircleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>


        <activity android:name=".follow.FollowInviteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />
        <activity android:name=".follow.FollowWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />
        <activity android:name=".follow.FollowInviteCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />

        <activity android:name=".SplashActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mgc.game.box"
                    android:host="${applicationId}"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".imagepicker.cropimage.CropImage"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".imagepicker.ImagePickerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

        <provider
            android:name=".floattools.components.playgametask.utils.ApkFileProvider"
            android:authorities="${applicationId}.rxdownload.demo.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/apk_file_provider" />
        </provider>

        <!-- 适配android N 的文件系统，authorities 中注意替换您的包名，包名+".fileprovider" -->
        <provider
            android:name="com.mgc.leto.game.base.provider.LetoFileProvider"
            android:authorities="${applicationId}.leto.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/leto_file_path" />
        </provider>

        <!-- toutiao sdk config -->
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />


        <!-- GDT sdk config -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>

        <!-- sigmob ad config -->
        <provider
            android:name="com.sigmob.sdk.SigmobFileProvider"
            android:authorities="${applicationId}.sigprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/sigmob_provider_paths" />
        </provider>

        <activity android:name="com.sigmob.sdk.base.common.AdActivity"
            android:theme="@android:style/Theme.DeviceDefault"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <!-- lightingbox ad config-->
        <provider
            android:name="com.wannuosili.sdk.ad.component.WNFileProvider"
            android:authorities="${applicationId}.WNFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/wn_file_paths" />
        </provider>

        <!-- 渠道自带的微信分享集成 -->
        <activity
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".floattools.components.RedPacketSeaActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            />
        <activity android:name=".floattools.components.PlayGameTaskActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            />

        <!-- 以下数据不需要修改 -->
        <meta-data
            android:name="MGC_BOX"
            android:value="true" />

        <!-- 这些数据一般不用改 -->
        <meta-data
            android:name="MGC_HOME_TAB_ID"
            android:value="17"/>
        <meta-data
            android:name="MGC_RANK_TAB_ID"
            android:value="18"/>
        <meta-data
            android:name="MGC_CHALLENGE_TAB_ID"
            android:value="19"/>

        <!-- 以下数据请自行设置 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5da289570cafb2d9a3000224" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="kx100_mgc_demo" />
        <meta-data
            android:name="MGC_ENABLE_WECHAT_LOGIN"
            android:value="true"/>
        <meta-data
            android:name="MGC_WECHAT_APPID"
            android:value="wx2b06b06ae8f615c8"/>
        <meta-data
            android:name="MGC_WECHAT_APPSECRET"
            android:value="7e0fdc7309652508e160ae2a8e3f12b1" />
        <meta-data
            android:name="MGC_APPID"
            android:value="364775" />
        <meta-data
            android:name="MGC_TEST_ENV"
            android:value="true" />

    </application>
</manifest>
